* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 150vh;
  background-image: linear-gradient(#D8C7FF, #19006C);
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}

/* Smooth scroll for anchor links */
html {
  scroll-behavior: smooth;
}
.headingStyle {
  font-size: '2rem';
  color:aqua;
  font-weight: bold;
  
  
}
